.nav-top {
    height: 27px;
    background: #3d474a;
    color: #fff;
}
.nav-inner{
    width: 990px;
    margin: auto;
}
.global{
    float: left;
    padding: 0 7px;
    line-height: 26px;
    height: 27px;
}
.global-top-text{
    line-height: 26px;
    font-size: 12px;
}
.global a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}
.global-top-seperator {
    padding: 0 4px;
    color: #61676d;
    font-style: normal;
}

b{
    margin-left: 8px;
    height:4px;
    width: 18px;
    display: block;
    transform-origin: center;
    transform: rotateZ(90deg);

}
.globalMore {
    background-color: #505a5d;
    border-radius: 2px;
    margin: 4px 0 0 5px;
    padding-left: 4px;
    padding-right: 4px;
    height: 18px;
    line-height: 18px;
    position: relative;
}
.b1{
    margin-top: 9px;
}
.banner{
    background: url("../img/app/bfLnOfhVEBDmDHi.jpg") no-repeat;

}
.head {
    height: 624px;
    position: relative;
}
.head {
    position: relative;
    width: 100%;
    height: 624px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.head .bagimg {
    display: block;
    float: left;
    margin-left: 40%;
    height: 100%;
}

.head .bagimg:hover{
    transform: scale(1.1,1.1);
    /*transform: rotateZ(180deg);*/
}
.header {
    z-index: 10;
}
.header {
    z-index: 100;
}
.header {
    width: 490px;
    margin: 0 auto;
    height: 100%;
    position: absolute;
    top: 0;
    left: 7%;
    z-index: 100;
}
.logo {
    position: absolute;
    height: 45px;
    left: 0;
    top: 5%;
}
.sologn {
    position: absolute;
    top: 30%;
    left: 0;
    margin-left: 0;
}
.download {
    width: 350px;
    height: 110px;
    position: absolute;
    top: 62%;
    left: 0;
}
.download-btn {
    height: 70px;
    display: block;
    line-height: 70px;
    background: url("../img/app/T1L0FgXfxXXXXXXXXX.png");
}
.download-version {
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    font-weight: lighter;
}
.download-version {
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    text-align: left;
    margin-top: 10px;
    font-weight: lighter;
}
.dian{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    z-index: 999999;
    color: #019cdf;
    position: absolute;
    bottom: 10px;
    left: 50%;
}
.main-toggle {
    width: 100%;
    height: 111px;
    position: relative;
    background: #fff;
    z-index: 101;
}
.main-channel {
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #ececec;
    position: relative;
    z-index: 1;
    background: #c9efff;
}
.main-channel-toggle {
    width: 560px;
    height: 110px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
}
.main-channel .toggle-pro-current {
    background: url("../img/app/T1kcRgXg4oXXXXXXXX.png")no-repeat 0 -120px;
    z-index: 999;
}
.main-channel .toggle {
    float: left;
    width: 280px;
    height: 110px;
    display: block;
    overflow: hidden;
}
.main-channel .toggle-his {
    background: url("../img/app/T1kcRgXg4oXXXXXXXX.png") no-repeat 0 -240px;
}
.main .item {
    margin: 0 auto;
    width: 990px;
    height: 490px;
    background: url(../img/app/1GLXhV8e0l.png) no-repeat 0 bottom;
}
.main .item-left {
    position: relative;
    float: left;
    width: 490px;
    height: 490px;
    line-height: 490px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    transition: all .8s ease .3s;
}
.main .item-right {
    position: relative;
    float: left;
    width: 490px;
    height: 490px;
    line-height: 490px;
    vertical-align: middle;
    text-align: center;
    transition: all .8s ease .3s;
}
.main-channel-his {
    /*display: none;*/
    position: relative;
    width: 990px;
    margin: 50px auto;
    padding: 40px 0;
    height: auto;
    min-height: 900px;
}
.main-channel-his .phone {
    position: absolute;
    width: 640px;
    left: -130px;
    height: 800px;
    background: url(../img/app/9a9aaf50-737b-4637-86c1-124b1bf0f34a.png) no-repeat right 0;
}